{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $work := promptBoolOnce . "work" "at work?" -}}

[data]
    email = {{ $email | quote }}
    work = {{ $work }}

[merge]
    command = "nvim"
    {{`args = ["-d", "{{ .Destination }}", "{{ .Source }}", "{{ .Target }}"]`}}

[template]
    options = ["missingkey=zero"]
