{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $work := promptBoolOnce . "work" "at work?" -}}
{{- $nvidia_farm := promptBoolOnce . "nvidia_farm" "Is this an nvidia farm machine?" -}}

[data]
    email = {{ $email | quote }}
    work = {{ $work }}
    nvidia_farm_machine = {{ $nvidia_farm }}

{{- if eq .chezmoi.os "windows" }}
[merge]
    command = "bash"
    args = [
        "-c",
        {{`"cp {{ .Target | quote }} {{ printf \"%s.base\" .Target | quote }} && cursor --new-window --wait --merge {{ .Destination | quote }} {{ .Target | quote }} {{ printf \"%s.base\" .Target | quote }} {{ .Source | quote }}"`}},
    ]
{{- else }}
[merge]
    command = "nvim"
    {{`args = ["-d", "{{ .Destination }}", "{{ .Source }}", "{{ .Target }}"]`}}
{{- end }}

[template]
    options = ["missingkey=zero"]
