-- Options are automatically loaded before lazy.nvim startup
-- Default options that are always set: https://github.com/LazyVim/LazyVim/blob/main/lua/lazyvim/config/options.lua
-- Add any additional options here
local o       = vim.opt
local g       = vim.g

-- Tabs and space
local indent  = 4
o.shiftwidth  = indent
o.tabstop     = indent
o.softtabstop = indent

o.expandtab   = true
o.smartindent = true
-- Makes it so when you copy the autoindent is disabled
o.copyindent  = true

-- Mouse support
o.mousefocus  = true

-- Linewrapping
o.scrolloff   = 4 -- Scrolls by  4 when you go left on the wordwrap
o.linebreak   = true -- Wrap on word boundary

g.mapleader = '\\'

o.relativenumber = false

-- Turning off in hopes that this will fix a hang
o.autoread = false
local python3 = '/home/eash/.pyenv/versions/nvim-python/bin/python3'
if 1 == vim.fn.filereadable(python3) then
  g.python3_host_prog = python3
elseif 1 == vim.fn.filereadable("/home/eash/.pyenv/versions/3.10.10/bin/python3") then
  g.python3_host_prog = "/home/eash/.pyenv/versions/3.10.10/bin/python3"
end

-- Turn off json, and markdown conceal
g.vim_markdown_conceal = 0
g.vim_json_syntax_conceal = 0
g.vim_json_conceal=0

-- Set seperator color to white
vim.api.nvim_set_hl(0,"WinSeparator",{bg="black",fg = "red"})

-- Dissable autoformat
vim.g.autoformat = false

-- Sync system and nvim clipboard
o.clipboard   = 'unnamed,unnamedplus'

{{ if .nvidia_farm_machine }}
vim.g.clipboard={
    name = 'my tmux',
    copy = {
     ['+'] = require('vim.ui.clipboard.osc52').copy,
     ['*'] = require('vim.ui.clipboard.osc52').copy,
--        ['+'] = 'timeout 2 doitclient wclip',
--        ['*'] = 'timeout 2 doitclient wclip'
    },
    paste = {
        ['+'] = 'timeout 2 doitclient wclip -r',
        ['*'] = 'timeout 2 doitclient wclip -r'
    },
}
{{ end }}
-- vim.g.clipboard = {
--     name = 'OSC 52',
--     copy = {
--     ['+'] = require('vim.clipboard.osc52').copy,
--     ['*'] = require('vim.clipboard.osc52').copy,
--     },
--     paste = {
--     ['+'] = require('vim.clipboard.osc52').paste,
--     ['*'] = require('vim.clipboard.osc52').paste,
--     },
-- }

if vim.fn.has('wsl') == 1 and vim.fn.executable("win32yank-wsl.exe") ==1 then
    vim.g.clipboard = {
        name = "win32yank-wsl",
        copy = {
            ["+"] = "win32yank.exe -i --crlf",
            ["*"] = "win32yank.exe -i --crlf",
        },
        paste = {
            ["+"] = "win32yank.exe -o --lf",
            ["*"] = "win32yank.exe -o --lf",
        },
        cache_enabled = true,
    }
end

-- LazyVim root dir detection
-- Each entry can be:
-- * the name of a detector function like `lsp` or `cwd`
-- * a pattern or array of patterns like `.git` or `lua`.
-- * a function with signature `function(buf) -> string|string[]`
vim.g.root_spec = { "lsp", { ".git", "lua","Makefile","TOT","pyproject.toml" }, "cwd" }

-- To disable root detection set to just "cwd"
-- vim.g.root_spec = { "cwd" }

{{ if .nvidia_farm_machine }}
vim.g.using_nvidia_farm = true 
{{ else }}
vim.g.using_nvidia_farm = false
vim.g.lazyvim_python_lsp = "pyright"
{{ end }}
